@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.download-btn {
  position: fixed !important;
  right: 1% !important;
  bottom: 30% !important;
  background: rgba(5, 5, 7, 0.3) !important;
}

.download-btn:hover {
  background: #4d4afc !important;
}

