html , body {
  margin : 0px;
  padding : 0px;
}


#loader {
  position : absolute;
  top : 0;
  bottom : 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  display: none;
}

#entete {
  z-index: 1;
  background : rgba(255,255,250,1);
  color : #000 !important;
}

.side-nav {
  /* background : rgba(0,30,100,0.7) !important; */
  background : #1e87f0;
}


.side-nav  ul  li > a{
  color : #fff !important;
}

.border-button {
  border-color : #1e87f0 !important;
  color : #1e87f0 !important;
}

.notification-container:hover {
  background : rgba(0 , 0 , 0 , 0.1) !important;
}

.notification-container {
  border : solid 0.2px #ddd;
  padding : 1% !important;
}
